@{
    ViewData["Title"] = "Thanh toán thành công";
}
<div class="alert alert-success mt-4">
    <h4>@ViewBag.Message</h4>
</div>
<a class="btn btn-primary mt-3" href="@Url.Action("FineHistory", "Fine")">Quay về danh sách biên bản</a>
